@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans&family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
}


body {
    background: #d1e1f0;
}

nav {
    margin-bottom: 1.5rem;
}

nav ul {
    padding: 2rem 0;
    background: #243d6b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

}

nav ul a {
    color: white;
    list-style-type: none;
    text-decoration: none;
    padding: 1rem 4rem;
    background: #20263a;
}

li {
    list-style-type: none;
}

h1 {
    font-family: serif;
    margin: 1rem;
    text-align: center;
}

#maincontent {
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

p {
    text-align: left;
    margin-top: 1rem;
    width: 95%;
    line-height: 150%;
}

#group {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 1rem;
    flex-wrap: wrap;
}

code {
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 2rem;
    font-size: 0.8rem;
}

img {
    width: 300px;
    height: 300px;
    margin-bottom: 3rem;
}

h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 1.7rem;
}

h2, section {
    margin-bottom: 2rem;
}

h3 {
    text-decoration: underline;
    margin-bottom: 0.5rem;
}

p {
    width: 100%;
    margin-bottom: 2rem;
    display: block;
}

#chart {
    width: 400px;
    height: auto;
    margin-bottom: 3rem;
}

#phones {
    width: 250px;
    display: inline-block;
    height: auto;
}

section {
    background: #f5f5f5;
    padding: 1.5rem;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

blockquote {
    margin: 2rem auto;
    background: #f5f5f5;
    padding: 2rem;
    border: none;
    border-radius: 12px;
}

cite {
    display: block;
    margin-top: .5rem;
}

pre {
    text-align: left;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  
}

.skip-link {
    background: black;
    color: white;
    font-weight: bold;
    padding: .25rem;
    position: absolute;
    transform: translateY(-200%);
    transition: transform 0.3s;
}

.skip-link:focus {  
    transform: translateY(0%);
}

i.material-icons {
    font-size: 1.5rem;
    font-weight: bold;
}

#check {
    color: green;
}

#x {
    color: red;
}

@media (min-width: 1024px) {

    nav ul {
        justify-content: flex-start;
        flex-direction: row;
    }

    p {
        width: 80%;
        display: inline-block;
    }

    code {
        font-size: 1.2rem;
    }
    
    blockquote {
        width: 30%;
    }

    #firstLink {
        margin-left: 2rem;
    }

    nav ul a {
        padding: 0;
        background: #243d6b;
    }

    #maincontent {
        text-align: left;
        margin-left: 2rem;
    }

}