@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Marcellus&family=Merriweather:ital,wght@0,700;1,700&family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #e9e7ff;
}

h1 {
    font-family: 'DM Serif Display', serif;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 3rem;
}

h2 {
    font-family: 'DM Serif Display', serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

footer {
    background: #f1e8ff
}

#navbar {
    padding: 2rem 0;
    background: #016da2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style-type: none;

}

.nav-links {
    color: white;
    text-decoration: none;
    background: #004262;
    padding: 1rem;
}

#firstLink {
    margin-left: 2rem;
}



#mainContent {
    background: #dffae3;
}

#aside1 {
    background: #f0faff;
}

#aside2 {
    background: #fffff0;
}

section {
   padding: 1.5rem 1rem;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  
}


@media (min-width: 1024px) {

    #navbar {
        justify-content: flex-start;
    }

    .nav-links {
        padding: 0;
        background: #016da2;
    }

    main, aside {
        margin-top: 2rem;
    }

    p {
        padding: 1rem;
    }
    .container {
        display: grid;
        grid-template-columns:
        1fr       2fr       1fr;
        grid-template-areas:
       "heady     heady     heady"
       "aside1    mainy     aside2"
       "aside1    mainy     aside2"
       "aside1    mainy     aside2"
       "football football  football";
    }
    
    header {
        grid-area: heady;
    }
    
    main {
        grid-area: mainy;
    }

    main section p {
        text-align: left;
        margin: 1rem auto;
    }

    main section h2 {
        text-align: center;
    }

    section {
        height: 30rem;
    }
    
    footer {
        grid-area: football;
    }

    footer section {
        height: 4rem;
    }

    #aside1 {
        grid-area: aside1;
    }

    #aside2 {
        grid-area: aside2;
    }

}