@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@font-face {
    font-family: title;
    src: url(./CaviarDreams_Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Verdana, sans-serif;
}


body {
    background: #f5f5f5;
    width: 100%;
}

nav ul {
    padding: 2rem 0;
    background: #016da2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;

}

nav ul a {
    color: white;
    list-style-type: none;
    text-decoration: none;
    padding: 1rem 3rem;
    background: #20263a;
}

li {
    list-style-type: none;
}

h1 {
    font-family: title;
    margin: 1rem;
    text-align: center;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #acc9dc;
}

#project {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #acdcd6;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    width: 80%;
}

figcaption {
    text-align: center;
}

h2 {
    margin: 1rem 0;
    font-size: 1.6rem;
}

p {
    margin: .5rem 5%;
    font-size: 1.05rem;
    line-height: 150%;
}

img {
    width: 200px;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.portrait {
    width: 350px;
    height: auto;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  
}

.skip-link {
    background: black;
    color: white;
    font-weight: bold;
    padding: .25rem;
    position: absolute;
    transform: translateY(-200%);
    transition: transform 0.3s;
}

.skip-link:focus {  
    transform: translateY(0%);
}

@media (min-width: 1024px) {

    nav ul {
        justify-content: flex-start;
        flex-direction: row;
    }

    #firstLink {
        margin-left: 2rem;
    }

    #aboutMe, #project {
        height: 120vh;
    }

    nav ul {
        padding: 1rem 0;
    }

    nav ul a {
        padding: 0;
        background: #016da2;
    }

    .container {
        display: grid;
        grid-template-columns:
           2fr       1fr;
        grid-template-areas:
       "heady     heady"
       "mainy     asidey"
        ;
    }
    
    header {
        grid-area: heady;
    }
    
    main {
        grid-area: mainy;
    }

    aside {
        grid-area: asidey;
    }

}