@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@font-face {
    font-family: title;
    src: url(./CaviarDreams_Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Verdana, sans-serif;
}


body {
    background: #f5f5f5;
}

nav {
    margin-bottom: 1.5rem;
}

nav ul {
    padding: 1rem 0;
    background: #016da2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

nav ul a {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

li {
    list-style-type: none;
    padding: 1rem 3rem;
    background: #20263a;
}

h1 {
    font-family: title;
    margin: 1rem;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns:
    1fr;
    grid-template-areas:
   "heady"
   "mainy"
    ;
}

header {
    grid-area: heady;
}

main {
    grid-area: mainy;
}

#aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
    background: #7e7e7e;
    border-radius: 1rem;
    background: #acc9dc;
}

h2 {
    margin: .5rem 0;
}

p {
    margin: .5rem 5%;
    font-size: 1.05rem;
    line-height: 150%;
}

img {
    width: 300px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  
}

.skip-link {
    background: black;
    color: white;
    font-weight: bold;
    padding: .25rem;
    position: absolute;
    transform: translateY(-200%);
    transition: transform 0.3s;
}

.skip-link:focus {  
    transform: translateY(0%);
}

@media (min-width: 1024px) {

    nav ul {
        justify-content: flex-start;
        flex-direction: row;
    }

    #aboutMe{
        margin: 0 12rem;
    }

    #firstLink {
        margin-left: 2rem;
    }

    li {
        padding: 0;
        background: #016da2;
    }

}